<template>
  <nav class="navbar navbar-expand navbar-light bg-dark">
    <span class="navbar-brand text-white">NewsHouse</span>
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link text-white" href="#"></a>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Navbar"
};
</script>

<style scoped></style>
