<template>
  <div>
    <Navbar />
    <div class="p-3">
      <router-view />
    </div>
  </div>
</template>

<script>
import Navbar from "../components/user/Navbar";
export default {
  name: "Home",
  components: { Navbar },
  data() {
    return {};
  },
  mounted() {}
};
</script>

<style scoped></style>
