<template>
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6 bg-light">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Welcome To Brexit News</h3>
                <form>
                  <div class="form-group">
                    <label for="inputEmail" class="sr-only"
                      >Email address</label
                    >
                    <input
                      type="email"
                      v-model="email"
                      id="inputEmail"
                      class="form-control rounded-pill border-0 shadow-sm px-4"
                      placeholder="Email address"
                      required
                      autofocus
                    />
                  </div>
                  <div class="form-group">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input
                      type="password"
                      v-model="password"
                      id="inputPassword"
                      class="form-control rounded-pill border-0 shadow-sm px-4"
                      placeholder="Password"
                      required
                    />
                  </div>
                  <button
                    class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm"
                    type="submit"
                    @click="logUserIn"
                  >
                    Register
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "register",
  data() {
    return {
      email: "",
      password: ""
    };
  },
  methods: {
    logUserIn() {
      let userCredentials = {
        users: [
          {
            email: this.email,
            password: this.password
          }
        ]
      };
      localStorage.setItem("userCredentials", JSON.stringify(userCredentials));
      this.$router.push({ name: "news" });
    }
  }
};
</script>

<style scoped>
.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url("../assets/images/newspaper-bg.jpg");
  background-size: cover;
  background-position: center;
}
</style>
