<template>
  <div>
    <div class="lds-ellipsis" v-if="headlinesInView.length === 0">
      <div>.</div>
      <div>.</div>
      <div>.</div>
      <div>.</div>
    </div>
    <div class="row text-center pb-4" v-else>
      <div class="col-md-4">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="home-tab"
              data-toggle="tab"
              href="#home"
              role="tab"
              aria-controls="home"
              aria-selected="true"
              @click="showGrid"
              >Grid</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="profile-tab"
              data-toggle="tab"
              href="#profile"
              role="tab"
              aria-controls="profile"
              aria-selected="false"
              @click="showList"
              >List</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div id="products" class="row view-group text-left">
      <div
        :class="{
          'item col-xs-4 col-lg-4 grid-group-item': true,
          'list-group-item': listView
        }"
        v-for="(news, index) in headlinesInView"
        v-bind:key="index"
      >
        <div
          class="thumbnail card"
          :id="headlinesInView.length === index + 1 ? 'divAsTarget' : ''"
        >
          <div class="img-event">
            <img
              class="group list-group-image img-fluid"
              v-if="news.urlToImage"
              :src="news.urlToImage"
              alt=""
              height="auto"
              width="auto"
            />
            <img
              class="group list-group-image img-fluid"
              v-else
              src="http://placehold.it/400x250/000/fff"
              alt=""
            />
          </div>
          <div class="caption card-body">
            <h4 class="group card-title inner list-group-item-heading">
              {{ news.title }}
            </h4>
            <h6 class="text-muted">
              {{ news.author }}
            </h6>
            <h6 class="text-muted pb-2">{{
              news.publishedAt.slice(0, 10) +
              " " +
              news.publishedAt.slice(12, 19)
              }}</h6>
            <p class="group inner list-group-item-text pb-2">
              {{ news.description }}
            </p>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <a class="btn btn-primary" :href="news.url" target="_blank">
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const options = {
  root: null,
  threshold: 0.5
};
export default {
  name: "NewsHeadlines",
  components: {},
  data() {
    return {
      headlinesInView: [],
      allHeadlines: [],
      listView: false
    };
  },
  mounted() {
    this.observer = new IntersectionObserver(this.loadMoreNews, options);
    let today = new Date();
    let dd = String(today.getDate()).padStart(2, "0");
    let mm = String(today.getMonth() + 1).padStart(2, "0");
    let yyyy = today.getFullYear();
    today = mm + "-" + dd + "-" + yyyy;
    this.axios
      .get(
        "https://newsapi.org/v2/everything?q=apple&from=" +
          today +
          "&sortBy=publishedAt",
        {
          headers: {
            Authorization: "Bearer " + "808b532278cc44b1b723fcdee71a3148"
          }
        }
      )
      .then(response => {
        this.allHeadlines = response.data.articles;
        this.headlinesInView = this.allHeadlines.slice(
          0,
          this.headlinesInView.length + 10
        );
      })
      .then(() => {
        this.observer.observe(document.querySelector("#divAsTarget"));
      });
  },
  methods: {
    showGrid() {
      this.listView = false;
    },
    showList() {
      this.listView = true;
    },
    loadMoreNews(entries) {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          if (this.headlinesInView.length <= this.allHeadlines.length) {
            this.headlinesInView = this.allHeadlines.slice(
              0,
              this.headlinesInView.length + 10
            );
          }
        }
      });
    }
  }
};
</script>

<style scoped>
.card {
  font-weight: 400;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.img-event {
  height: auto;
}
.item .list-group-item {
  max-height: 400px;
}
.view-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
}
.thumbnail {
  margin-bottom: 30px;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
img {
  min-width: 250px;
}

.item.list-group-item {
  float: none;
  width: 100%;
  background-color: #fff;
  margin-bottom: 30px;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 1rem;
  border: 0;
}
.item.list-group-item .img-event {
  float: left;
  width: 30%;
}

.item.list-group-item .list-group-image {
  margin-right: 10px;
}
.item.list-group-item .thumbnail {
  margin-bottom: 0px;
  display: inline-block;
}
.item.list-group-item .caption {
  float: left;
  width: 70%;
  margin: 0;
}

.item.list-group-item:before,
.item.list-group-item:after {
  display: table;
  content: " ";
}

.item.list-group-item:after {
  clear: both;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  top: 40vh;
  width: 64px;
  height: 64px;
  font-size: 64px;
  font-weight: bolder;
  color: #2c3e50;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

</style>
